.headerContainer {
  background-color: red;
  height: 164px;
  position: relative;
}

.inputSection {
  background-color: white;
  border: 1px solid gray;
  border-radius: 35px;
  height: 40px;
  left: 400px;
  position: absolute;
  top: 47px;
  width: 500px;
  text-align: center;
}
